html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
#bg {
  background-color: #F2FBE3;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#preview {
  position: absolute;
  top: 0;
  min-height: 0;
  z-index: 2;
  width: 100%;
  height: 0;
  background-color: #242480;
  transition: min-height 0.5s;
  overflow: hidden;
}
.hidden {
  display: none;
}
#preview-wrapper {
  padding-top: 100px;
  width: 60%;
  height: 60%;
  margin: 0 auto;
}
video, img {
  max-height: 100%;
  width: 100%;
}
#download-wrapper {
  padding-top: 16px;
  width: 75%;
  margin: 0 auto;
}
.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.download-button {
  width: 33%;
  padding: 16px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  background-color: #ddd;
  display: inline-block;
}
#head {
  background: #509A50;
  position: absolute;
  z-index: 1;
  top: 0;
  min-height: 40%;
  transition: min-height 0.5s;
  width: 100%;
}
.expanded {
  min-height: 100%!important;
  height: unset;
}
#wrapper {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#content {
  border: thin solid black;
  width: 75%;
  background-color: #EEEFEB;
  z-index: 10;
  position: relative;
  margin: 0 auto 0 auto;
  top: 40px;
  border-radius: 5px;
}
#head-content {
  min-height: 400px;
}
#foot-content {
  min-height: 600px;
  background-color: black;
}
.file-input {
  width: 100%;
  height: 60px;
}
#input-button {
  background: #555;
  border-radius: 20px;
}
.file-input > h3 {
  margin: 0;
  line-height: 20px;
  text-align: center;
  font-size: 40px;
  padding: 20px;
  z-index: 2;
}
#source-input-wrapper {
  overflow: hidden;
  margin: 4px;
}
#fileChooser {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  margin: 1em 0;
  left: 0;
  right: 0;
}

#source-input-wrapper {
  position: absolute;
  top: 50%;
  width: 75%;
  margin: 0 auto;
  left: 12.5%;
  right: 12.5%;
  transform: translateY(-50%);
}

#encode-progress {
  text-align: center;
}
#progress-values {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 80%;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #41AED3;

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

progress[value]::-webkit-progress-value::before {
  content: '80%';
  position: absolute;
  right: 0;
  top: -125%;
}

